.container {
    background-color: #FFF9F0;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #FFF9F0;
    padding: 10px 0;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for header height */
  }
  
  .contact {
    width: 60%;
    text-align: center;
  }
  
  .contact-box {
    display: flex;
    border: 1px solid #B48F8F;
    padding: 20px;
  }
  
  .left-side, .right-side {
    flex: 1;
    padding: 20px;
  }
  
  .left-side h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .left-side a {
    display: block;
    margin: 10px 0;
    text-decoration: underline;
    color: inherit;
  }
  
  .left-side a:hover {
    color: #000;
    cursor: pointer;
  }
  
  .right-side form {
    display: flex;
    flex-direction: column;
  }
  
  .right-side input,
  .right-side textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background-color: #B48F8F;
    color: #fff;
  }
  
  .right-side button {
    padding: 10px;
    border: none;
    background-color: #B48F8F;
    color: #fff;
    cursor: pointer;
  }
  
  .right-side button:hover {
    background-color: #9E7D7D;
  }
  