/* loginPage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF9F0;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #FFF9F0;
    border-bottom: 1px solid #B48F8F;
}

header h1 {
    font-size: 32px; /* Increased font size */
    color: #000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

section.login {
    background-color: #FFF9F0;
    border: 2px solid #B48F8F;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.login-image img {
    max-width: 100%;
    border-right: 2px solid #B48F8F;
    margin-right: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #B48F8F;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #CAC0B4;
    color: #FFF;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #B48F8F;
}
